<html>
<% include templates/head.ejs %>
<body>
<div class="container">
    <h1><b>Welcome to Goose Archive!</b></h1>
    <h3>Here's what you can do here:</h3>
    <ul>
        <li><a href="/goose/list">Display a list of games</a></li>
        <li><a href="/goose/grid">Display a grid of games</a></li>
        <li><a href="/goose/new">Create new goose</a></li>
        <li><a href="/generate">Generate a dummy goose</a></li>
        <li>Import a goose <i>(Under construction)</i></li>
    </ul>
</div>
</body>
</html>