<html>
<% include templates/head.ejs %>

<script>
    $(document).ready(function() {
        function addRound() {
            var id = $(".nav-tabs").children().length;
            var tabId = 'round_' + id;
            var tab = $('.tab-template').clone();
            tab.removeClass('tab-template');
            var a = tab.find('a');
            a.attr('href', '#' + tabId);
            a.text('Round ' + id);
            tab.insertBefore($('.add-round').parent());
            var round = $('.round-template').clone();
            round.attr('id', tabId);
            round.removeClass('round-template');
            round.appendTo('.tab-content');
            addOption($('#' + tabId).find('.add-option'));
            $('.nav-tabs li:nth-child(' + id + ') a').click();
        }

        function addOption(where) {
            var option = $('.option-template').clone();
            option.removeClass('option-template');
            option.insertBefore(where);
        }

        $(".nav-tabs").on("click", "a", function (e) {
            e.preventDefault();
            if (!$(this).hasClass('add-round')) {
                $(this).tab('show');
            }
        }).on("click", "span", function () {
                var anchor = $(this).siblings('a');
                $(anchor.attr('href')).remove();
                $(this).parent().remove();
                $(".nav-tabs li").children('a').first().click();
            });

        $('.add-round').click(function (e) {
            e.preventDefault();
            addRound();
        });

        $('.tab-content').on('click', '.option-marker', function (e) {
            e.preventDefault();
            $(this).toggleClass('option-correct option-incorrect');
        }).on('click', '.remove-option', function (e) {
            e.preventDefault();
            $(this).parent().parent().parent().remove();
        }).on('click', '.add-option-glyph', function (e) {
            e.preventDefault();
            addOption($(this).closest('.add-option'));
        });

        $('#submit-btn').click(function (e) {
            var goose = {};
            goose.title = $('#title').val();
            goose.subtitle = $('#subtitle').val();
            goose.author = $('#author').val();
            goose.rounds = [];
            $('.nav-tabs > li > a').each(function() {
                var $li = $(this);
                if ($li.hasClass('add-round')) return;
                var $round = $($li.attr('href'));
                var round = {};

                round.title = $round.find('.round-title').val();
                round.subtitle = $round.find('.round-subtitle').val();
                round.options = [];
                $round.find('.option').each(function() {
                    var option = {};
                    option.name = $(this).find('.option-title').val();
                    option.comment = $(this).find('.option-comment').val();
                    var marker = $(this).find('.option-marker');
                    option.correct = marker.hasClass('option-correct');
                    round.options.push(option);
                });
                goose.rounds.push(round);
            });
            $.post('/goose/add', {
                goose: JSON.stringify(goose)
            }, function(data) {
                if (data.message) {
                    alert(data.message);
                }
            });
        });

        addRound();
    });
</script>

<body>
<div class="container">
    <h1>Add new goose</h1>
    <div class="form-group">
        <input id="title" type="text" class="form-control" placeholder="Title">
    </div>

    <div class="form-group">
        <input id="subtitle" type="text" class="form-control" placeholder="Subtitle">
    </div>

    <div class="form-group">
        <input id="author" type="text" class="form-control" placeholder="Author">
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li>
            <a href="#" class="add-round">+ Add Round</a>
        </li>
    </ul>
    <div class="tab-content">
    </div>

    <button id="submit-btn" class="btn btn-primary">Submit</button>
</div>

<div class="templates">

    <li class="tab-template">
        <a data-toggle="tab">Round</a><span class="glyphicon glyphicon-remove"></span>
    </li>

    <div class="row option option-template">
        <div class="col-md-6">
            <div class="col-md-11">
                <input type="text" class="form-control option-title" placeholder="Option">
            </div>
            <div class="col-md-1">
                <span class="glyphicon glyphicon-asterisk option-marker option-correct"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-11">
                <input type="text" class="form-control option-comment" placeholder="Comment">
            </div>
            <div class="col-md-1">
                <span class="glyphicon glyphicon-remove remove-option"></span>
            </div>
        </div>
    </div>

    <div class="tab-pane round-template">
        <div class="form-group">
            <input type="text" class="form-control round-title" placeholder="Round title">
        </div>

        <div class="form-group">
            <input type="text" class="form-control round-subtitle" placeholder="Round subtitle">
        </div>

        <h3>Options</h3>

        <div>
            <div class="row add-option">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-plus add-option-glyph"></span>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>